<div class="header">
  <div class="logoBox" routerLink="/">
    <mat-icon class="logoIcon">alarm</mat-icon>
    <div class="logoText1">Speed</div>
    <div class="logoText2">Typing</div>
  </div>
  <div class="headerContent" *ngIf="username != ''; else loggedOut">
    <button mat-button routerLink="/">Play</button>
    <button mat-button routerLink="/records">Records</button>
    <div class="logoutBox">
      <div class="user">{{username}}</div>
      <mat-icon class="logout" (click)="logout()">logout</mat-icon>
    </div>
  </div>
  <ng-template #loggedOut>
    <div class="headerContent" *ngIf="username == ''">
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/register">Register</button>
    </div>
  </ng-template>
</div>

