<div className='registerContent'>
  <section className="heading">
    <h1 className='registerHeader'>
      Register
    </h1>
  </section>
  <section className="form">
    <form [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
          className='registerForm'>
      <div className="form-group">
        <input type="text"
               className='form-control'
               id='username'
               name='username'
               formControlName="username"
               placeholder='Username' />
      </div>
      <div className="form-group">
        <input type="password"
               className='form-control'
               id='password'
               name='password'
               formControlName="password"
               placeholder='Password' />
      </div>
      <div className="form-group">
        <input type="password"
               className='form-control'
               id='passwordConfirm'
               name='passwordConfirm'
               formControlName="passwordConfirm"
               placeholder='Confirm Password' />
      </div>
      <div className="errorbox">{{message}}</div>
      <div className="form-group">
        <button type='submit' className='registerBtn'>
          Submit
        </button>
      </div>

    </form>
  </section>
</div>
