.registerContent {
  width: 300px;
  text-align: center;
}

.registerHeader {
  padding: 50px;
  font-size: 35px;
  font-weight: 400;
}

.registerForm {
  display: grid;
  grid-template-rows: auto auto auto 40px auto;
}

.errorbox {
  color: red;
}
