.content {
    height: 100%;
    display: grid;
    grid-template-rows: 200px auto;
    justify-content: center;
}

.main {
    display: grid;
    justify-content: center;
}

router-outlet {
    display: none;
}
